﻿@model IEnumerable<Ash_v1._01.Models.Product>

@{
    ViewBag.Title = "CategoryFilter";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <img src="@Html.DisplayFor(modelItem => item.Image)" class="img-fluid" />
                <div class="col-lg-12" style="background-color: #fff; box-shadow: 10px 10px 10px rgb(0 0 0 / 0.2)">
                    <div class="text-capitalize text-center">
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </div>
                    <div class="col-lg-12">
                        <div class="text-capitalize text-center">
                            @Html.DisplayFor(modelItem => item.Category)
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-capitalize text-center">
                            @Html.DisplayFor(modelItem => item.Price)
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-capitalize text-right">
                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


