﻿@model Ash_v1._01.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        <div class="detailProduct">
            <div class="row">
                <div class="col-md-6">
                    <img src="@Html.DisplayFor(model => model.Image)" class="img-fluid" style="height:100%" />
                </div>
                <div class="col-md-6 aboutProduct">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.ProductName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ProductName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Category)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Category)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Price)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt>
                            Add To Basket
                        </dt>
                        <dd>
                            @Html.ActionLink("Add", "Basket", new { id = this.Model.Id }, new { @class = "btn btn-outline-dark btn-lg" })
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <p>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
