﻿@model IEnumerable<Ash_v1._01.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="row mainRow">
    <div class="title-bg">

    </div>
</div>
<br />
<div class="row section">
    <div class="newItems">
       <div class="row">
           <div class="col-md-12">
               <h3 class="text-center">Newly Added</h3>
           </div>
       </div>
       <div class="row section">
           @Html.Partial("RandomSection")
       </div>
    </div>
</div>
<br />
<div class="row section">
    <div class="col-md-12">
        <h3 class="SeasonHeader">Deferent Seasons</h3>
    </div>
</div>
<div class="row">
    @Html.Partial("_DeferentSeasons")
</div>
<br />
