﻿@model IEnumerable<Ash_v1._01.Models.Product>

@foreach (var item in Model)
{
<div class="col-md-4">
    <div class="card-container">
        <div class="card mb-3">
            <h3 class="card-header text-center"> @Html.DisplayFor(modelItem => item.ProductName)</h3>
            <img src="@Html.DisplayFor(modelItem => item.Image)" class="img-fluid" style="height:400px" />
        </div>
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Catagory : @Html.DisplayFor(modelItem => item.Category)</h6>
                <p class="card-text">Price : @Html.DisplayFor(modelItem => item.Price)</p>
                <p class="card-text">@Html.ActionLink("Details", "Details", new { id = item.Id })</p>
            </div>
        </div>
    </div>
</div>

<br />



}