﻿@model IList<Ash_v1._01.Models.Basket>

    <p style="display:none;background:#fff">
        @Html.ActionLink(" ", " ")
    </p>
    <ul class="DropItem">
        @foreach (var item in Model)
        {
            <li>
                @Html.DisplayFor(modelItem => item.Product.ProductName) |
                @Html.DisplayFor(modelItem => item.Price)
            </li>
        }
        <li>Total : @Model.Sum(i=>i.Price)</li>
        <li>Ordered Product : @Model.Count</li>
    </ul>
