﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_AdminLayout</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="sidebare">
        <h1 class="text-center">Hello</h1>
        <div class="ImgContainer">
            <img src="~/Image/ASH.png" class="img-fluid" />
        </div>
        <div class="d-grid gap-2">
            <a href="~/Home/Index" class="btn btn-primary">Home</a>
            <a href="~/Products/Index" class="btn btn-primary">Product</a>
            <a href="~/users/Index" class="btn btn-primary">Users</a>
            <a href="~/Baskets/Index" class="btn btn-primary">Orders</a>
        </div>
    </div>
    <div class="main">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
