﻿@model IEnumerable<Ash_v1._01.Models.Product>

    <div class="col-md=12">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{ int i = 0;}
                @foreach (var item in Model)
                {
                    if (i == 3)
                    {
                        break;
                    }
                    i++;
                    var active = i == 1 ? "active" : "";
                    <div class="carousel-item @active">
                        <img src="@Html.DisplayFor(modelItem => item.Image)" class="rounded mx-auto d-block" style="height:450px">
                        <div class="carousel-caption" style="">
                            <h3 style="color:#fff">@Html.DisplayFor(modelItem => item.ProductName)</h3>
                            <p>@Html.DisplayFor(modelItem => item.Price)</p>
                        </div>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
