﻿@model IEnumerable<Ash_v1._01.Models.Product>
@foreach (var item in ViewBag.Categories)
{
        <a class="dropdown-item" style="text-align:center">
            @Html.ActionLink((string)item, "CategoryFilter", "Home", new { cat = (string)item }, new { @class = "dropdown-item" })
        </a>
}
