﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

</head>
<body>
    @Html.Partial("_MenuBar")
    <div class="container-fluid">
            @RenderBody()
        <br />
        <div class="row">
            <footer class="navbar navbar-expand-lg navbar-dark bg-primary">
                <p class="text-center">&copy; @DateTime.Now.Year</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
