﻿body {
    overflow-x: hidden;
}

.navbar {
    height: 75px;
    transition: ease-in-out .5s
}

.fixed-top {
    height: 60px;
    background-color: rgb(255 255 255 / 0.75) !important
}

.newItems {
    padding-block: 50px;
}

.bg-Img {
    width: 100%
}

#FirstBackgroundPhoto {
    background-image: url('../Image/pexels-photo-2183863.jpeg');
    background-size: cover;
    background-position: top;
    height: 400px;
    width: 100%;
    position: relative;
    transition: ease-in-out 0.5s;
}

    #FirstBackgroundPhoto:hover {
        background-position: bottom;
    }

    #FirstBackgroundPhoto::after {
        content: "";
        position: absolute;
        background-color: rgb(0 0 0 / 0.00);
        width: 100%;
        height: 100%;
        color:#fff;
        transition: ease-in-out 0.5s
    }

    #FirstBackgroundPhoto:hover::after {
        content: "Spring";
        padding: 150px 60px;
        font-size: 50px;
        background-color: rgb(0 0 0 / 0.60);
        background-position: bottom
    }

#SecondBackgroundPhoto {
    background-image: url('../Image/pexels-photo-1624496.jpeg');
    background-size: cover;
    background-position: top;
    height: 400px;
    width: 100%;
    position: relative;
    transition: ease-in-out 0.5s;
}

    #SecondBackgroundPhoto:hover {
        background-position: bottom;
    }

    #SecondBackgroundPhoto::after {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        background-color: rgb(0 0 0 / 0.00);
        width: 100%;
        height: 100%;
        color: #fff;
        transition: ease-in-out 0.5s;
    }

    #SecondBackgroundPhoto:hover::after {
        content: "Summer";
        padding: 150px 60px;
        font-size: 50px;
        background-color: rgb(0 0 0 / 0.60);
    }

#ThirdBackgroundPhoto {
    background-image: url('../Image/pexels-photo-1366919.jpeg');
    background-size: cover;
    background-position: bottom;
    height: 400px;
    width: 100%;
    position: relative;
    transition: ease-in-out 0.5s;
}

    #ThirdBackgroundPhoto:hover {
        background-position: top;
    }

    #ThirdBackgroundPhoto::after {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: rgb(0 0 0 / 0.00);
        color: #fff;
        width: 100%;
        height: 100%;
        transition: ease-in-out 0.5s
    }

    #ThirdBackgroundPhoto:hover::after {
        content: "Winter";
        padding: 150px 60px;
        background-color: rgb(0 0 0 / 0.60);
        color: #fff;
        font-size: 50px;
        width: 100%;
        height: 100%;
    }

#ForthBackgroundPhoto {
    background-image: url('../Image/pexels-photo-1591447.jpeg');
    background-size: cover;
    background-position: bottom;
    height: 400px;
    width: 100%;
    position: relative;
    transition: ease-in-out 0.5s;
}

#ForthBackgroundPhoto:hover {
    background-position: top;
}

#ForthBackgroundPhoto::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    font-size: 50px;
    background-color: rgb(0 0 0 / 0.00);
    width: 100%;
    height: 100%;
    color: #fff;
    transition: ease-in-out 0.5s
}

#ForthBackgroundPhoto:hover::after {
    content: "Autom";
    padding: 150px 60px;
    font-size: 50px;
    background-position:top;
    background-color: rgb(0 0 0 / 0.60);
}

.SeasonHeader {
    border-top: solid 5px #eb6864;
    border-bottom: solid 5px #eb6864;
    text-align: center;
}

.sidebare {
    background-color: #e74944;
    width: 20%;
    position: fixed;
    height: 100%;
    padding: 0;
    margin: 0;
}

.sidebare li {
    border: 1px solid #fff
}

.main {
    width: 75%;
    margin-left: 25%
}

.pagination li {
    border: 1px #eb6864 solid;
    margin-left: 5px;
    transition: ease-in-out 0.5s;
}

.pagination a {
    padding: 10px;
}

.pagination li:hover {
    background-color: #eb6864;
}

.btn-group-vertical .btn-lg {
    width: 100% !important;
}

.dropdown-item {
    text-align: center;
    transition: ease-in-out 0.5s;
}

    .dropdown-item:hover {
        background-color: #eb6864
    }

.right {
    margin-right: 50%;
}

.carousel-caption {
    background-color: #eb6864;
    width: 70%;
    position: relative;
}

    .carousel-caption:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 10%;
        background-color: rgb(235 104 100 / 0.63);
        bottom: 6px;
        right: 0;
        left: -70px;
        clip-path: polygon(0 0, 100% 0, 100% 100%,0 0%)
    }

    .carousel-caption:after {
        content: "";
        position: absolute;
        height: 100%;
        width: 10%;
        background-color: rgb(235 104 100 / 0.63);
        bottom: 6px;
        right: 0px;
        left: 99%;
        clip-path: polygon(0 0, 100% 0, 100% 0%,0 100%)
    }

.LogInBox {
    border: 1px solid #000;
    border-radius: 20px;
    background: rgb(255 255 255 / 0.80);
}

.loginBody {
    background-image: url('../Image/pexels-photo-414667.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    overflow: visible;
    color: #eb6864;
}

.logIntext {
    margin: 0;
    padding: 0;
}

.logInRow {
    margin: 0;
}

.detailProduct {
    background: #eb6864;
    color: #fff;
}

.aboutProduct {
    padding: 0 25px;
}

.navbar-right li {
    margin-right: 10px;
}

.dropMenu {
    padding: 30px;
}

.dropBox {
    background: #000;
    margin-left: 25%;
}

.DropItem {
    background: #000;
    color: #fff;
    padding: 0;
    margin: 0;
}

    .DropItem li {
        list-style: none;
        text-align: center;
        border-bottom:solid 1px #fff;
        transition: ease-in .5s
    }

        .DropItem li:hover {
            background-color: #fff;
            color: #000;
        }

.title-bg {
    background-image: url('../Image/bg-pexels-photo-803916.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 75vh;
    padding:60px 0;
    position:relative;
}
.mainRow{
    padding-bottom:50px;
}
.title-bg::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(235 104 100 / 0.38)
}
.card-container {
        padding-block: 10px;
        margin: 0;
        border: 1px #000 solid;
        border-radius: 5px;
        background: #eb6864;
        margin-top: 30px;
    }
.card-header {
    background: #eb6864;
    color: #fff;
}

.card {
    background: #eb6864;
    color: #fff;
    border: none;
}
.text-muted{
    color:#fff!important;
}
.card h6 {
    color: #fff;
}
.card-text{
    color:#fff;
}
.card-text a{
    color:#fff;
    text-decoration:none;
    border:solid 1px #fff;
    padding: 10px 5px;
    border-radius:5px;
    transition: ease-in-out .5s;
}
.card-text a:hover{
    background-color:#fff;
    color:#000;
    box-shadow:0px 20px 40px #fff;
}
.newItems{
    background:#000;
}
.newItems h3{
    color:#fff;
}
.section{

}
.section h3 {
    background: #eb6864;
    color: #fff;
    padding-block: 30px;
    position: relative;
    left: 1%;
}